body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.h1clr {
    color: orange;
}

section {
    display: flex;
    padding: 5%;
}

.width {
    width: 50%;
}

.width img {
    width: 100%;
}

.button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, rgb(236, 19, 19));
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}