body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 50px;
}

.h1clr {
    color: orange;
}

.flexi {
    display: flex;
}

.width {
    width: 50%;
    padding-left: 2%;
}

.width img {
    width: 100%;
}

.button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, rgb(236, 19, 19));
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}

.bi {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.bi2 {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.bs {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
}

.bi3 {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#lorem1 {
    border-left: 5px solid blue;
}

#lorem2 {
    border-left: 5px solid tomato;
}

footer {
    text-align: center;
}